Bonjour,<br>
Vous avez essayé de vous inscrire sur J'agis alors que nous avons déjà un compte pour cet email !<br><br>
    
Veuillez plutôt vous rendre sur la <a href="{{URL_CONNEXION}}">page de connexion</a> pour vous connecter.

À très vite !