Bonjour,<br>
Voici votre code pour valider votre connexion à l'application J'agis !<br><br>
    
code : {{CODE}}<br><br>

Si vous n'avez plus la page ouverte pour saisir le code, ici le lien : <a href="{{URL_CODE}}">Page pour rentrer le code</a><br><br>
    
À très vite !