Bonjour,<br>
Voici votre code pour valider votre inscription à l'application Agir !<br><br>
code : {{code}}<br><br>
Si vous n'avez plus la page ouverte pour saisir le code, ici le lien : <a href="{{url_code}}">Page pour rentrer le code</a><br><br>
À très vite !