Bonjour,<br><br>

Cliquez sur le lien ci-dessous pour vous connecter à votre compte J’agis :<br>
<a href="{{URL_CODE}}">Accès J'agis</a><br><br>

Ce lien est valable pendant 1 heure et ne peut être utilisé qu'une seule fois.<br><br>

Si vous utilisez l’application mobile et ce lien ne l'ouvre pas automatiquement, entrez ce code d’accès : {{CODE}}<br><br>

Si vous n'avez pas demandé ce lien, vous pouvez ignorer cet email.<br><br>

Bien cordialement