Bonjour,<br><br>

Cliquez sur le lien ci-dessous pour vous connecter à votre compte J’agis :<br>
<a href="{{URL_CODE}}">Accès J'agis</a><br><br>

Ce lien est valable pendant 10 minutes et ne peut être utilisé qu'une seule fois.<br><br>

Si vous utilisez l’application mobile vous pouvez aussi entrer ce code d’accès : <strong>{{CODE}}</strong><br><br>

Si vous n'avez pas demandé ce lien, vous pouvez ignorer cet email.<br><br>

Bien cordialement