Bonjour,<br>
Voici votre code pour pouvoir modifier votre mot de passe de l'application J'agis !<br><br>
    
code : {{CODE}}<br><br>

Si vous n'avez plus la page ouverte pour saisir le code et modifier le mot de passe, ici le lien : <a href="{{URL_CODE}}">Page pour modifier votre mot de passe</a><br><br>
    
À très vite !