# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://prisma:prisma@localhost:5432/dev"
DATABASE_DEV_PORT=5432
DATABASE_TESTS_PORT=5433
OIDC_CLIENT_ID=<TO INSERT> # voir https://partenaires.franceconnect.gouv.fr/fcp/fournisseur-service
OIDC_CLIENT_SECRET=<TO INSERT> # voir https://partenaires.franceconnect.gouv.fr/fcp/fournisseur-service
OIDC_URL_AUTH=https://fcp.integ01.dev-franceconnect.fr/api/v1/authorize
OIDC_URL_TOKEN=https://fcp.integ01.dev-franceconnect.fr/api/v1/token
OIDC_URL_INFO=https://fcp.integ01.dev-franceconnect.fr/api/v1/userinfo?schema=openid
OIDC_URL_LOGOUT=https://fcp.integ01.dev-franceconnect.fr/api/v1/logout
OIDC_URL_LOGIN_CALLBACK=/login-callback
OIDC_URL_LOGOUT_CALLBACK=/logout-callback
FINAL_LOGIN_REDIRECT=/welcome
BASE_URL_FRONT=http://localhost:5173
BASE_URL=http://localhost:3000
INTERNAL_TOKEN_SECRET=<random secret>
EMAIL_API_TOKEN=<token>
EMAIL_ENABLED=false
SERVICE_APIS_ENABLED=false
CMS_WEBHOOK_API_KEY=12345

